repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.2.2
  hooks:
  - id: pyupgrade
    args: ["--py37-plus"]
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.19.2
  hooks:
    - id: check-github-workflows
    - id: check-readthedocs
- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/flake8
  rev: 5.0.4
  hooks:
  - id: flake8
    additional_dependencies: ['flake8-bugbear==22.7.1']
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==22.1.0]
    args: ["--target-version", "py37"]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    language_version: python3
    files: ^src/webargs/
    additional_dependencies:
      - marshmallow>=3,<4
      - packaging
      - flask


# mypy runs under tox in GitHub Actions, skip it in pre-commit.ci
ci:
  skip: [mypy]
